<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hl.project.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.hl.project.model.User">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="CHAR" property="id" />
    <result column="createdTime" jdbcType="TIMESTAMP" property="createdtime" />
    <result column="lastModifiedTime" jdbcType="TIMESTAMP" property="lastmodifiedtime" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="userImgId" jdbcType="VARCHAR" property="userimgid" />
  </resultMap>
</mapper>